<template>
  <div class="form">
    <input
      @keydown.enter="onTickerAdd(null)"
      type="text"
      class="input"
      v-model="tickerText"
    />
    <button @click="onTickerAdd(null)" type="button" class="addButton">
      Add
    </button>
    <div v-for="ticker of foundTickers.slice(0, 4)" :key="ticker">
      <span @click="onTickerAdd(ticker)">{{ ticker }}</span>
    </div>
  </div>
</template>

<script>
import { getAllCurrencies } from "../api/getCurrencies";
export default {
  data() {
    return {
      tickerText: "",
      foundTickers: [],
      allTickers: [],
    };
  },
  emits: {
    "add-ticker": (tickerToAdd) => typeof tickerToAdd === "string",
  },
  methods: {
    onTickerAdd(definedTicker) {
      const tickerToAdd = definedTicker
        ? definedTicker
        : this.tickerText.toUpperCase();
      this.$emit("add-ticker", tickerToAdd);
      this.tickerText = "";
      this.foundTickers = [];
    },
  },
  watch: {
    tickerText() {
      if (!this.tickerText) {
        this.foundTickers = [];
      } else {
        this.foundTickers = this.allTickers.filter((ticker) =>
          ticker.toLowerCase().includes(this.tickerText.toLowerCase())
        );
      }
    },
  },
  async created() {
    const data = await getAllCurrencies();
    this.allTickers = Object.keys(data.Data);
  },
};
</script>
