<template>
  <div v-if="selectedTicker" class="selectedTicker">
    <h4>Selected Ticker</h4>
    <div>{{ selectedTicker.name }}</div>
    <div>Price: {{ selectedTicker.value }}</div>
    <div>Hourly Volume {{ selectedTicker.hourlyVolume }}</div>
  </div>
</template>

<script>
export default {
  props: {
    selectedTicker: {
      type: Object,
      required: true,
      default() {
        return null;
      },
    },
  },
};
</script>