<template>
  <div
    v-for="ticker of tickers"
    :key="ticker.name"
    @click="selectTicker(ticker)"
    class="tickersList"
  >
    <div>{{ ticker.name }}</div>
    <div>{{ ticker.value }}</div>
    <button @click.stop="onTickerDelete(ticker)" class="deleteButton">
      Delete
    </button>
  </div>
</template>

<script>
export default {
  props: {
    tickers: {
      type: Array,
      required: true,
      default() {
        return [];
      },
    },
  },
  emits: {
    "select-ticker": (ticker) => typeof ticker === "object",
    "delete-ticker": (ticker) => typeof ticker === "object",
  },
  methods: {
    selectTicker(ticker) {
      this.$emit("select-ticker", ticker);
    },
    onTickerDelete(ticker) {
      this.$emit("delete-ticker", ticker);
    },
  },
};
</script>
