<template>
  <add-ticker-form @add-ticker="onTickerAdd" />
  <ticker-item
    :tickers="tickers"
    @select-ticker="selectTicker"
    @delete-ticker="onTickerDelete"
  />
  <selected-ticker-item :selectedTicker="selectedTicker" />
</template>

<script>
import {
  getTicker,
  subscribeToTicker,
  unsubscribeFromTicker,
  closeSocket,
} from "./api/getCurrencies";
import AddTickerForm from "./components/AddTickerForm.vue";
import TickerItem from "./components/TickerItem.vue";
import SelectedTickerItem from "./components/SelectedTickerItem.vue";
export default {
  name: "App",
  data() {
    return {
      tickers: [],
      selectedTicker: null,
    };
  },

  components: {
    AddTickerForm,
    TickerItem,
    SelectedTickerItem,
  },

  computed: {
    tickersNames() {
      return this.tickers.map((tick) => tick.name);
    },
  },

  methods: {
    onTickerDelete(tickerToDelete) {
      this.tickers = this.tickers.filter((t) => t !== tickerToDelete);
      if (tickerToDelete === this.selectedTicker) {
        this.selectedTicker = null;
      }
      unsubscribeFromTicker(tickerToDelete.name);
    },
    selectTicker(ticker) {
      this.selectedTicker = ticker;
    },
    onTickerAdd(tickerToAdd) {
      if (tickerToAdd && !this.tickersNames.includes(tickerToAdd)) {
        const newTicker = { name: tickerToAdd.toUpperCase(), value: "-" };
        this.tickers.push(newTicker);
        subscribeToTicker(tickerToAdd.toUpperCase());
        getTicker(this.setCurrentPrice);
      }
    },
    setCurrentPrice(e) {
      const {
        TYPE: messageType,
        PRICE: currentPrice,
        FROMSYMBOL: symbol,
        VOLUMEHOUR: hourlyVolume,
      } = JSON.parse(e.data);
      if (messageType === "5" && currentPrice) {
        this.tickers.find((t) => t.name === symbol).value = currentPrice;
        this.tickers.find((t) => t.name === symbol).hourlyVolume =
          hourlyVolume.toFixed(2);
      }
    },
  },
  beforeUnmount() {
    closeSocket();
  },
};
</script>

<style>
.tickersList {
  border-bottom: 1px solid #000;
}
</style>
